* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  height: 100%;
  display: flex;
  flex-direction: column;
}

a {
  text-decoration: none;
  color: inherit;
}

#root {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
}

.main-container {
  flex: 1 1 auto;

  display: flex;
  flex-direction: column;
}

#custom-disabled:disabled {
  background-color: rgb(85, 85, 85) !important;
  color: white !important;
}

.Toastify__toast--success {
  background-color: rgb(9, 146, 104) !important;
  color: white !important;
}

.Toastify__toast--error {
  background-color: rgb(255, 85, 113) !important;
  color: white !important;
}

.Toastify__toast-icon svg {
  fill: white !important;
}

.mantine-Drawer-close svg {
  size: 280px;
}

.badges-row {
  width: 100%;
  padding-block: 40px;
  display: flex;
  gap: 2rem;
  overflow-x: hidden;
  white-space: nowrap;
}

.badges-row:hover {
  overflow-x: auto;
}
